/**get font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Poppins:wght@300;400;500;600;700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --font: "figtree", "poppins", "Inter", sans-serif;

    --grey: #ECECEF;
    --white: #F5F5F5;

    --orange: #EF7946;
    --orange__hover: #FF8F5F;
    --orange__active: #D2521B;

    --blue: #255586;
    --blue__hover: #4C76B6;
    --blue__active: #234364;

    --yellow: #FBC02D;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background-color: var(--white);
    margin: 0;
}

p {
    font-size: 20px;
    font-family: var(--font);
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 1em;
}

.header {
    width: 100%;
    height: calc(100vh - 92px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100vh - 92px);
}

.header h1 {
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 140%;
    text-transform: uppercase;
}

.header__right,
.header__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header__color {
    background-image: url(../images/site/orange_background_ziezo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: fit;
    width: 100%;
    height: 950px;
    margin-left: auto;
    border-radius: 20px;
}

#header__handyman {
    position: absolute;
    min-height: calc(50vw);
    max-height: calc(100vh - 100px);
    z-index: 1;
    bottom: 0;
    left: 45%;
}

.header__card {
    width: 350px;
    box-shadow: 0px 8px 48px -8px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 2em;
}

.header__text {
    margin-bottom: 3em;
}

.rectangle {
    background-color: var(--orange);
    width: 3em;
    height: 0.25em;
    margin-bottom: 2em;
}

/**.rating img change svg color to --yellow var */
.rating img {
    /**change svg color to --yellow var */
    fill: var(--yellow);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    padding: .875em 0;
    margin: auto;
}

h1,
h2,
h3 {
    text-align: left;
    margin: 0.8em 0;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: (var(--font));
}

.uniek {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    padding: .875em 0;
    margin: auto;
    align-items: flex-start;
    gap: 2em;
    padding-bottom: 4em;
}

.uniek__text {
    display: flex;
    flex-direction: column;
}

#uniek__image {
    width: 50%;
    height: 20%;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    padding: .875em 0;
    margin: auto;
    align-items: flex-start;
    gap: 2em;
    padding-bottom: 4em;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: .875em 0;
    margin: auto;
    align-items: flex-start;
    align-content: center;
    box-shadow: 0px 8px 48px -8px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 3em;
}

.step__icon {
    align-self: center;
}

.step__title {
    align-self: center;
}

.step__text {
    text-align: center;
}

.orange {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--orange);
    gap: 5em;
}

.orange__image {
    width: 25%;
    height: 20%;
    margin-left: 3em;
}

.orange__text {
    display: flex;
    flex-direction: column;
    color: var(--white);
    width: 60%;
}

#klussers h1,
#klussers h1 {
    margin-top: 1em;
    padding-top: 0.8em;
}

#klussers {
    padding-bottom: 4em;
}

h2 {
    font-size: 3em;
}

h5 {
    font-size: 1.5em;
}

header .CTA {
    bottom: 10px;
}

#ctaFrame {
    margin-top: 350px;
    padding: 1em 0;
    height: fit-content;
    width: 100%;
    /* background black opacity 50%*/
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: var(--orange);
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em 1em;
    font-family: var(--font);
}

.button:hover {
    background-color: var(--orange__hover);
}

.button:active {
    background-color: var(--orange__active);
}

.topPart_Review img {
    border-radius: 50%;
}

.topPart_Review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info h2 {
    margin: 0.1em 0;
}

.info {
    padding-left: 0.5em;
}

.card {
    width: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2.5em;
    border-radius: 1em;
    margin: 2em;
}

#hulpbehoevende,
#klusser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 2em;
    padding: 2em 0;
}

#klusserInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button__banner {
    width: max-content;
    margin: auto;
    padding: 4em;
}

.grey {
    background-color: var(--grey);
}

.white {
    background-color: var(--white);
}

.card p {
    margin: 0.5em 0.5em 0.1em 0.5em;
}

.taskInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.taskInfo p {
    /*put text at top*/
    width: 200px;
}

footer {
    background-color: var(--orange);
    padding: 1em 0;
    color: #fff;
}

.footer__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    align-items: center;
}

.footer__info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-left: 4em;
}

.footer__info__item {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

#footer__link {
    color: #fff;
    font-weight: regular;
}

.footer__logo {
    padding-right: 4em;
}

#mc_embed_signup_scroll div {
    font-size: 0.8em;
}

#mc_embed_signup_scroll H2 {
    font-size: 1.3em;
    margin: 0.5em 0;
}

#mc_embed_signup {
    background-color: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.asterisk {
    color: red;
}

div.indicates-required {
    /**align children top right*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 1em;
}

input#mc-embedded-subscribe.button {
    background-color: var(--orange);
    color: #fff;
    border-radius: 100px;
    font-size: 1.5em;
    padding: 0.5em 1.5em;
    margin: 0.7em auto;
    width: unset;
    border-color: var(--orange);
}

input#mc-embedded-subscribe.button:hover {
    background-color: var(--orange__hover);
}

input#mc-embedded-subscribe.button:active {
    background-color: var(--orange__active);
}

#mce-EMAIL {
    width: 100%;
}

.optionalParent .foot {
    display: flex;
    flex-direction: column;
}

p.brandingLogo {
    margin: 0;
    padding: 0;
}

.optionalParent .foot input.button {
    margin: 0 0.1em;
}

/* when wide 1263 hide last child of #hulpbehoevnde*/
@media screen and (max-width: 1263px) {
    #hulpbehoevende .card:nth-child(3n) {
        display: none;
    }
}

/* when wide 863 hide last 3 children of #hulpbehoevende*/
@media screen and (max-width: 1024px) {
    #hulpbehoevende .card:nth-last-child(-n+3) {
        display: none;
    }

    #klusserInfo .card:nth-child(2n) {
        display: none;
    }

    .taskInfo {
        flex-direction: column;
    }

    .topPart_Review {
        flex-direction: column;
    }

    .topPart_userImg {
        width: 150px;
        height: 150px;
    }

    #header__color {
        width: 30%;
    }

    #header__handyman {
        position: relative;
        top: -30.9em;
        left: 5em;
        width: 47%;
        height: auto;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav img {
        margin-bottom: 1em;
    }

    .header {
        grid-template-columns: 1fr;
      }
    
      .header__right {
        display: none;
      }
    
      .header__card {
        text-align: center;
        align-items: center;
        max-width: 70%;
        margin-top: 5em;
      }
    
      .header__text {
        margin-bottom: 20px;
      }

      .uniek {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        margin: auto;
        gap: 0em;
        padding-bottom: 2em;
        align-self: center;
    }
    
    #uniek__image {
        width: 100%;
        margin: auto;
    }

    .steps {
        flex-direction: column;
        width: 50%;
    }
    
    .orange {
        flex-direction: column-reverse;
        gap: 0em;
    }
    
    .orange__image {
        margin-left: 0em;
    }
    
    .orange__text {
        width: 70%;
    }

    #hulpbehoevende {
        flex-direction: column;
        gap: 0em;
    }

    .footer__container {
        flex-direction: column;
        width: 90%;
        align-self: center;
    }

    .footer__logo {
        margin-top: 2em;
    }

    .footer__info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 90%;
        margin-left: 0em;
    }
    
    .footer__info__item {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%;
    }

    footer {
        padding: 0em 0;
        display: flex;
    }

}

/** when width under 800 flew-direction: */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav img {
        margin-bottom: 1em;
    }

    .header {
        grid-template-columns: 1fr;
      }
    
      .header__right {
        display: none;
      }
    
      .header__card {
        text-align: center;
        align-items: center;
        max-width: 70%;
        margin-top: 2em;
        margin-bottom: 2em;
      }
    
      .header__text {
        margin-bottom: 20px;
      }

      .uniek {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: auto;
        gap: 0em;
        padding-bottom: 2em;
    }
    
    #uniek__image {
        width: 100%;
    }

    .steps {
        flex-direction: column;
    }
    
    .orange {
        flex-direction: column-reverse;
        gap: 0em;
    }
    
    .orange__image {
        margin-left: 0em;
    }
    
    .orange__text {
        width: 90%;
    }

    #hulpbehoevende {
        flex-direction: column;
        gap: 0em;
    }

    .footer__container {
        flex-direction: column;
        width: 90%;
        align-self: center;
    }

    .footer__logo {
        margin-top: 2em;
    }

    .footer__info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 90%;
        margin-left: 0em;
    }
    
    .footer__info__item {
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 90%;
    }

    footer {
        padding: 0em 0;
        display: flex;
    }
}